.ranking-page-header {
    text-align: center;
    margin: 3% 0;
}

ion-card {
    margin: 5% auto;
    padding: 0 2%;
    display: flex;
    align-items: center;
}

.ranking {
    width: 20%;
    font-size: 3rem;
}

.users-infos {
    text-align: start;

}

.no-user {
    margin: auto;
}

.spacer {
    flex: 1 1 auto;
}