<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Thanks for playing!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary" class="end-page">
  <div class="flags-header">
    <img src="assets/flags/al.svg" alt="country" width="20%" height="10%"/>
    <img src="assets/flags/ad.svg" alt="country" width="20%" height="10%"/>
    <img src="assets/flags/ma.svg" alt="country" width="20%" height="10%"/>
    <img src="assets/flags/ae.svg" alt="country" width="20%" height="10%"/>
    <img src="assets/flags/aw.svg" alt="country" width="20%" height="10%"/>
    <img src="assets/flags/bb.svg" alt="country" width="20%" height="10%"/>
    <img src="assets/flags/bd.svg" alt="country" width="20%" height="10%"/>
    <img src="assets/flags/bh.svg" alt="country" width="20%" height="10%"/>
    <img src="assets/flags/be.svg" alt="country" width="20%" height="10%"/>
    <img src="assets/flags/bw.svg" alt="country" width="20%" height="10%"/>
  </div>
  <div>
    <ion-text>
      Thank you {{username}} for playing.
    </ion-text>
    <ion-text>
      We hope you enjoyed the quiz!
    </ion-text>
    <ion-text color="medium">
      Your score is: <strong>{{answeredQuestions}}</strong>/<strong>{{totalQuestions}}</strong>
    </ion-text>
  </div>
  <ion-button (click)="reset()" color="warning" class="reset-btn"><ion-text>Restart Quiz <ion-icon name="refresh-outline"></ion-icon></ion-text></ion-button>
  <div class = "flags-footer">
    <img src="assets/flags/cc.svg" alt="country" width="20%" height="10%"/>
    <img src="assets/flags/cd.svg" alt="country" width="20%" height="10%"/>
    <img src="assets/flags/ca.svg" alt="country" width="20%" height="10%"/>
    <img src="assets/flags/cg.svg" alt="country" width="20%" height="10%"/>
    <img src="assets/flags/cw.svg" alt="country" width="20%" height="10%"/>
    <img src="assets/flags/dj.svg" alt="country" width="20%" height="10%"/>
    <img src="assets/flags/dk.svg" alt="country" width="20%" height="10%"/>
    <img src="assets/flags/dm.svg" alt="country" width="20%" height="10%"/>
    <img src="assets/flags/de.svg" alt="country" width="20%" height="10%"/>
    <img src="assets/flags/dz.svg" alt="country" width="20%" height="10%"/>
  </div>
</ion-content>
